@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden text-sm;
}


.react-calendar {
  @apply w-full border border-slate-200 rounded p-4
}

.react-calendar__tile {
  @apply p-2 text-center rounded-lg
}

.react-calendar__tile--active {
  @apply bg-sky-600 text-white rounded-lg
}

.react-calendar__tile--now {
  @apply bg-[#e5e7eb]  
}

.react-calendar__tile--disabled {
  @apply text-[#d1d5db] bg-[#f9fafb] 
}

.react-calendar__tile:disabled {
  @apply bg-transparent text-inherit opacity-40
}

.react-tel-input{
  @apply w-full z-40  !important
}

.form-control{
  @apply w-full border border-slate-200  !important 
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
